#emergency_content {
   width: 100%;
   margin: 0;
   background-color: red;
   color: @white;
   a:after {
     content: none !important;
   }
   h1 {
     font-size: (@baseFontSize * 2.3);
     white-space: pre-line;
     p { padding-left: 0px !important;  padding-right: 0px !important;}
   }
   h2 {
     font-size: (@baseFontSize * 1.5);
     border-bottom: 0px;
   }
   h1, h2, p {
     color: white;
   }
   * {
     color: @white !important;
   }
 }