.featured_link a {
  overflow: hidden;
  display: block;
}

.featured_link {
  margin-bottom: 20px;
}

.feature_container {
  margin-top: -54px;
  position: relative;
  font-size: @fontSizeSmall;
}

.featured_link img {
  width: 100%;
  padding: 0;
  margin: 0;
}

.feature_title {
  text-align: center;
  display: block;
  color: @white;
  overflow: hidden;
  #gradient > .radial(transparent, rgba(0,0,0,.20));

  h3 {
    color: @white;
  }
  :hover {
    color: @white;
    text-decoration: underline;
  }

  h3 {
    font-size: @baseFontSize * 1.25;
    padding: 4px;
  }
}

.feature_content {
  padding: 8px 10px;
  background-color: @white;
}

.feature_more {
  text-align: center;
}