/*!
 * UM Landing Pages
 *
 * This LESS file is designed to be output to um-landing.min.css.
 *
 * It includes all required external dependancies, and should be the single CSS file to include for layout.
 */



// UM GLOBAL INCLUDES
// -------------------------
// Start by including common UM stuff such as mixins, the header, and mixins.


/* LANDING PAGE BOX STYLES */

.landing.events_feed span{
    display: block;
}
.landing.events_feed ul {
    margin-left: 0;
    list-style: none;
}
.landing.events_feed ul li .title a{
    color: black;
    font-weight: bold;
}
.landing.events_feed ul li{
    border-left: 3px solid @grayDarker;
    color: grey;
    font-size: @fontSizeSmall;
    list-style: none;
    padding-left: 8px;
    line-height: 20px;
    margin-bottom: 15px;
}
.landing.events_feed .more_events{
	padding-left: 11px;
}	
.landing-transparent {
	margin-bottom: 30px;
	}

/* LANDING PAGE ICONS */
ul.landing-icon > li { 
	list-style: none outside none;
	/* background-image: url("@{assetsPath}/imx/icon.png");
	background-position: left center;
	background-repeat: no-repeat;
	padding-left: 60px;
	text-align: center;
	display: block;
	padding-bottom: 0;
	margin-bottom: 5px; */
	}
	
/* DUMB LITTLE ARROW ON UMBOX */
/*.landing-box .umbox h3 {
 *	margin-left: -13px;
 *	padding-left: 35px;
 *	background-image: url('@{assetsPath}/imx/heading-arrow.png');
 *	background-position: left 7px;
 *	background-repeat: no-repeat;
 *	}
 */
 
/* ELEMENT PADDING */
.landing-page-wrapper .umbox {
	//Removed because it's redundant. Unless reset, everything under body gets the padding. -- Original: .element-padding;
}

.admissions {
    .landing-box {
        margin-left: 0px;
        margin-top: 10px;
        h2{
            border-bottom:0px;
            padding-left: 0px;
        }
        .apply_box {
            position: relative;
            background-position: top left;
            background-repeat: no-repeat;
            overflow: hidden;

            h2{
                position: absolute;
                bottom: 0px;
                margin: 0px;
                padding-top: 5px;
                padding-right:  15px;
                display: block;
                font-family: "ProximaNovaT-Thin","ProximaNova-Bold","ProximaNova-Regular","Helvetica Neue",Helvetica,Arial,sans-serif;
                a{
                    color: @white;
                    text-decoration: none;
                    display: block;
                }
                background: rgb(0, 0, 0) transparent;
                background: rgba(0, 0, 0, 0.6);
                width: 98%;
                text-align: right;
                font-weight: lighter;
            }
        }
    }


    .graduate_admissions {
        background-image: url('../imx/admissions/graduate.jpg');
        height: 235px;
    }

    .international_admissions {
        background-image: url('../imx/admissions/international.jpg');
        height: 235px;
    }

    .transfer_admissions {
        background-image: url('../imx/admissions/transfer.jpg');
        height: 235px;
    }
     .undergrad_admissions {
        background-image: url('../imx/admissions/undergraduate.jpg');
        height: 405px;
    }
    .missoula_college_admissions {
        background-image: url('../imx/admissions/missoula_college.jpg');
        height: 310px;
    }

    .no-padding {
        padding-left: 0px;
    }

}
.student-life{
	.landing-box{
	h2:first-child{
		margin-top: 0;
		}
	}
}