//
// Responsive: Large desktop and up
// --------------------------------------------------

@media (max-width: 845px) {

  .about_photo h4 {
    font-size: (@baseFontSize - 3);
  }

  .happening_at_um {
    h2 {
      font-size: 16px;
    }

    .nav li {
      padding-left: 4px;
    }

    .nav li a {
      padding: 17.5px 3px 0px;
      font-size: 12px;

    }

  }
}
