//
// Responsive: Large desktop and up
// --------------------------------------------------

@media (min-width: 1150px) {

  .about_photo h4 {
    font-size: (@baseFontSize * 1.25);
  }

  .happening_at_um {
    h2 {
      font-size: 18px;
    }

    .nav li a {
      font-size: 13px;
      padding: 17.5px 8px 0px

    }
  }

}
