/*!
 * UM Typography
 */

@h1Size: (@baseFontSize * 1.618 * 1.618 );
@h2Size: (@baseFontSize * 1.618 );
@h3Size: (@baseFontSize * 1.2 ); //this should really be 1.2 (18px)
@h4Size: (@baseFontSize * 1.07 ); //this should really be 1.07 (16px)
@h5Size: (@baseFontSize * 1 );
@h6Size: (@baseFontSize * .85 ); //this should really be 0.85 (12px)

p, ul, ol, h1, h2, h3, h4, h5, h6, blockquote{
	margin-top: (@baseLineHeight * 0);
	margin-bottom: (@baseLineHeight * 1);
}


h1, h2, h3, h4, h5, h6 { 
	font-family: @headingsFontFamily;
	font-weight: normal;
	font-style: normal;
	color: @gray;
	
		a{
			border-bottom-width: 0;
			text-decoration: none;
		}
		a:hover{
			border-bottom-width: 1px;
		}
		a:after{
			content: " \00BB"
		}
	}
	
h1{
	font-size: (@h1Size * 1);
	line-height: (@h1Size * 1);
	margin-top: (@h1Size * .5);
	margin-bottom: (@h1Size * .3);
}

h2 {	
	padding-bottom: 5px;
	border-bottom: 1px solid #ccc;
	font-size: (@h2Size * 1);
	line-height: (@h2Size * 1);
	margin-top: (@h2Size * .5);
	margin-bottom: (@h2Size * .75 - 5);

}
	
h3 {
	font-size: (@h3Size * 1);
	line-height: (@h3Size * 1);
	margin-top: (@h3Size * 2);
	margin-bottom: (@h3Size * 1);
}
	
h4 {
	font-size: (@h4Size * 1);
	line-height: (@h4Size * 1);
	margin-top: (@h4Size * 2);
	margin-bottom: (@h4Size * 1);
	color: lighten(@gray, 10%);
	font-style: italic;
}
	
h5 {
	font-size: (@h5Size * 1);
	line-height: (@h5Size * 1);
	margin-top: (@h5Size * 2);
	margin-bottom: (@h5Size * 1);
	color: lighten(@gray, 20%);
	font-style: italic;
}
	
h6 {
	font-size: (@h6Size * 1);
	line-height: (@h6Size * 1);
	margin-top: (@h6Size * 2);
	margin-bottom: (@h6Size * 1);
	color: lighten(@gray, 30%);
	font-style: italic;
}
.small{
	font-size: 85%;
	line-height: 1.5em;
}

@media (max-width: 1199px){
	h1{
		font-size: (@h1Size * .9);
	}
	h2{
		font-size: (@h2Size * .9);
	}
}

@media (max-width: 979px){
	h1{
		font-size: (@h1Size * .8);
	}
	h2{
		font-size: (@h2Size * .8);
	}
}

a{
	color: @maroon;
	border-bottom: 1px solid #ccc;
	text-decoration: none;
}

a:hover{

	text-decoration: none;
	color: @maroon;
	border-color: @maroon;
}


li{
	padding-left: 2px;
}

.jumbotron h1 {
	font-family: "ProximaNovaT-Thin", @headingsFontFamily; 
}

h1.fine, h2.fine, h3.fine, h4.fine, h5.fine, h6.fine {
	font-family: "ProximaNovaT-Thin", @headingsFontFamily; 
}
	
.lead {
	color: @gray;
	font-family: "ProximaNovaT-Thin", @headingsFontFamily;
	font-style: italic;
	font-size: 22px;
	line-height: 28px;
	
	}
