/* @license
 * MyFonts Webfont Build ID 2522782, 2013-04-05T17:11:13-0400
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: Proxima Nova A Thin by Mark Simonson
 * URL: http://www.myfonts.com/fonts/marksimonson/proxima-nova/a-thin/
 * 
 * Webfont: Proxima Nova S Thin by Mark Simonson
 * URL: http://www.myfonts.com/fonts/marksimonson/proxima-nova/s-thin/
 * 
 * Webfont: Proxima Nova S Extrabold by Mark Simonson
 * URL: http://www.myfonts.com/fonts/marksimonson/proxima-nova/s-extrabld/
 * 
 * Webfont: Proxima Nova A Extrabold by Mark Simonson
 * URL: http://www.myfonts.com/fonts/marksimonson/proxima-nova/a-extrabld/
 * 
 * Webfont: Proxima Nova A Bold by Mark Simonson
 * URL: http://www.myfonts.com/fonts/marksimonson/proxima-nova/a-bold/
 * 
 * Webfont: Proxima Nova S Regular by Mark Simonson
 * URL: http://www.myfonts.com/fonts/marksimonson/proxima-nova/s-regular/
 * 
 * Webfont: Proxima Nova S Semibold by Mark Simonson
 * URL: http://www.myfonts.com/fonts/marksimonson/proxima-nova/s-semibold/
 * 
 * Webfont: Proxima Nova S Bold by Mark Simonson
 * URL: http://www.myfonts.com/fonts/marksimonson/proxima-nova/s-bold/
 * 
 * Webfont: Proxima Nova A Light by Mark Simonson
 * URL: http://www.myfonts.com/fonts/marksimonson/proxima-nova/a-light/
 * 
 * Webfont: Proxima Nova A Semibold by Mark Simonson
 * URL: http://www.myfonts.com/fonts/marksimonson/proxima-nova/a-semibold/
 * 
 * Webfont: Proxima Nova S Black by Mark Simonson
 * URL: http://www.myfonts.com/fonts/marksimonson/proxima-nova/s-black/
 * 
 * Webfont: Proxima Nova A Regular by Mark Simonson
 * URL: http://www.myfonts.com/fonts/marksimonson/proxima-nova/a-regular/
 * 
 * Webfont: Proxima Nova A Black by Mark Simonson
 * URL: http://www.myfonts.com/fonts/marksimonson/proxima-nova/a-black/
 * 
 * Webfont: Proxima Nova S Light by Mark Simonson
 * URL: http://www.myfonts.com/fonts/marksimonson/proxima-nova/s-light/
 * 
 * Webfont: Proxima Nova Thin by Mark Simonson
 * URL: http://www.myfonts.com/fonts/marksimonson/proxima-nova/thin/
 * 
 * Webfont: Proxima Nova Extrabold by Mark Simonson
 * URL: http://www.myfonts.com/fonts/marksimonson/proxima-nova/extrabld/
 * 
 * Webfont: Proxima Nova Black by Mark Simonson
 * URL: http://www.myfonts.com/fonts/marksimonson/proxima-nova/black/
 * 
 * Webfont: Proxima Nova Light by Mark Simonson
 * URL: http://www.myfonts.com/fonts/marksimonson/proxima-nova/light/
 * 
 * Webfont: Proxima Nova Semibold by Mark Simonson
 * URL: http://www.myfonts.com/fonts/marksimonson/proxima-nova/semibold/
 * 
 * Webfont: Proxima Nova Regular by Mark Simonson
 * URL: http://www.myfonts.com/fonts/marksimonson/proxima-nova/regular/
 * 
 * Webfont: Proxima Nova Bold by Mark Simonson
 * URL: http://www.myfonts.com/fonts/marksimonson/proxima-nova/bold/
 * 
 * 
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=2522782
 * Webfonts copyright: Copyright (c) Mark Simonson, 2005. All rights reserved.
 * 
 * © 2013 MyFonts Inc
*/


  
@font-face {font-family: 'ProximaNovaA-Thin';src: url('@{assetsPath}webfonts/267E9E_0_0.eot');src: url('@{assetsPath}webfonts/267E9E_0_0.eot?#iefix') format('embedded-opentype'),url('@{assetsPath}webfonts/267E9E_0_0.woff') format('woff'),url('@{assetsPath}webfonts/267E9E_0_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'ProximaNovaS-Thin';src: url('@{assetsPath}webfonts/267E9E_1_0.eot');src: url('@{assetsPath}webfonts/267E9E_1_0.eot?#iefix') format('embedded-opentype'),url('@{assetsPath}webfonts/267E9E_1_0.woff') format('woff'),url('@{assetsPath}webfonts/267E9E_1_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'ProximaNovaS-Extrabld';src: url('@{assetsPath}webfonts/267E9E_2_0.eot');src: url('@{assetsPath}webfonts/267E9E_2_0.eot?#iefix') format('embedded-opentype'),url('@{assetsPath}webfonts/267E9E_2_0.woff') format('woff'),url('@{assetsPath}webfonts/267E9E_2_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'ProximaNovaA-Extrabld';src: url('@{assetsPath}webfonts/267E9E_3_0.eot');src: url('@{assetsPath}webfonts/267E9E_3_0.eot?#iefix') format('embedded-opentype'),url('@{assetsPath}webfonts/267E9E_3_0.woff') format('woff'),url('@{assetsPath}webfonts/267E9E_3_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'ProximaNovaA-Bold';src: url('@{assetsPath}webfonts/267E9E_4_0.eot');src: url('@{assetsPath}webfonts/267E9E_4_0.eot?#iefix') format('embedded-opentype'),url('@{assetsPath}webfonts/267E9E_4_0.woff') format('woff'),url('@{assetsPath}webfonts/267E9E_4_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'ProximaNovaS-Regular';src: url('@{assetsPath}webfonts/267E9E_5_0.eot');src: url('@{assetsPath}webfonts/267E9E_5_0.eot?#iefix') format('embedded-opentype'),url('@{assetsPath}webfonts/267E9E_5_0.woff') format('woff'),url('@{assetsPath}webfonts/267E9E_5_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'ProximaNovaS-Semibold';src: url('@{assetsPath}webfonts/267E9E_6_0.eot');src: url('@{assetsPath}webfonts/267E9E_6_0.eot?#iefix') format('embedded-opentype'),url('@{assetsPath}webfonts/267E9E_6_0.woff') format('woff'),url('@{assetsPath}webfonts/267E9E_6_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'ProximaNovaS-Bold';src: url('@{assetsPath}webfonts/267E9E_7_0.eot');src: url('@{assetsPath}webfonts/267E9E_7_0.eot?#iefix') format('embedded-opentype'),url('@{assetsPath}webfonts/267E9E_7_0.woff') format('woff'),url('@{assetsPath}webfonts/267E9E_7_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'ProximaNovaA-Light';src: url('@{assetsPath}webfonts/267E9E_8_0.eot');src: url('@{assetsPath}webfonts/267E9E_8_0.eot?#iefix') format('embedded-opentype'),url('@{assetsPath}webfonts/267E9E_8_0.woff') format('woff'),url('@{assetsPath}webfonts/267E9E_8_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'ProximaNovaA-Semibold';src: url('@{assetsPath}webfonts/267E9E_9_0.eot');src: url('@{assetsPath}webfonts/267E9E_9_0.eot?#iefix') format('embedded-opentype'),url('@{assetsPath}webfonts/267E9E_9_0.woff') format('woff'),url('@{assetsPath}webfonts/267E9E_9_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'ProximaNovaS-Black';src: url('@{assetsPath}webfonts/267E9E_A_0.eot');src: url('@{assetsPath}webfonts/267E9E_A_0.eot?#iefix') format('embedded-opentype'),url('@{assetsPath}webfonts/267E9E_A_0.woff') format('woff'),url('@{assetsPath}webfonts/267E9E_A_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'ProximaNovaA-Regular';src: url('@{assetsPath}webfonts/267E9E_B_0.eot');src: url('@{assetsPath}webfonts/267E9E_B_0.eot?#iefix') format('embedded-opentype'),url('@{assetsPath}webfonts/267E9E_B_0.woff') format('woff'),url('@{assetsPath}webfonts/267E9E_B_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'ProximaNovaA-Black';src: url('@{assetsPath}webfonts/267E9E_C_0.eot');src: url('@{assetsPath}webfonts/267E9E_C_0.eot?#iefix') format('embedded-opentype'),url('@{assetsPath}webfonts/267E9E_C_0.woff') format('woff'),url('@{assetsPath}webfonts/267E9E_C_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'ProximaNovaS-Light';src: url('@{assetsPath}webfonts/267E9E_D_0.eot');src: url('@{assetsPath}webfonts/267E9E_D_0.eot?#iefix') format('embedded-opentype'),url('@{assetsPath}webfonts/267E9E_D_0.woff') format('woff'),url('@{assetsPath}webfonts/267E9E_D_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'ProximaNovaT-Thin';src: url('@{assetsPath}webfonts/267E9E_E_0.eot');src: url('@{assetsPath}webfonts/267E9E_E_0.eot?#iefix') format('embedded-opentype'),url('@{assetsPath}webfonts/267E9E_E_0.woff') format('woff'),url('@{assetsPath}webfonts/267E9E_E_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'ProximaNova-Extrabld';src: url('@{assetsPath}webfonts/267E9E_F_0.eot');src: url('@{assetsPath}webfonts/267E9E_F_0.eot?#iefix') format('embedded-opentype'),url('@{assetsPath}webfonts/267E9E_F_0.woff') format('woff'),url('@{assetsPath}webfonts/267E9E_F_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'ProximaNova-Black';src: url('@{assetsPath}webfonts/267E9E_10_0.eot');src: url('@{assetsPath}webfonts/267E9E_10_0.eot?#iefix') format('embedded-opentype'),url('@{assetsPath}webfonts/267E9E_10_0.woff') format('woff'),url('@{assetsPath}webfonts/267E9E_10_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'ProximaNova-Light';src: url('@{assetsPath}webfonts/267E9E_11_0.eot');src: url('@{assetsPath}webfonts/267E9E_11_0.eot?#iefix') format('embedded-opentype'),url('@{assetsPath}webfonts/267E9E_11_0.woff') format('woff'),url('@{assetsPath}webfonts/267E9E_11_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'ProximaNova-Semibold';src: url('@{assetsPath}webfonts/267E9E_12_0.eot');src: url('@{assetsPath}webfonts/267E9E_12_0.eot?#iefix') format('embedded-opentype'),url('@{assetsPath}webfonts/267E9E_12_0.woff') format('woff'),url('@{assetsPath}webfonts/267E9E_12_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'ProximaNova-Regular';src: url('@{assetsPath}webfonts/267E9E_13_0.eot');src: url('@{assetsPath}webfonts/267E9E_13_0.eot?#iefix') format('embedded-opentype'),url('@{assetsPath}webfonts/267E9E_13_0.woff') format('woff'),url('@{assetsPath}webfonts/267E9E_13_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'ProximaNova-Bold';src: url('@{assetsPath}webfonts/267E9E_14_0.eot');src: url('@{assetsPath}webfonts/267E9E_14_0.eot?#iefix') format('embedded-opentype'),url('@{assetsPath}webfonts/267E9E_14_0.woff') format('woff'),url('@{assetsPath}webfonts/267E9E_14_0.ttf') format('truetype');}

/*
	The following allow us to use the "ProximaNova-Regular" font-family, and control it via font-weight:bold/normal in the CSS. Font-style: italic should just work with the browser's 
	fake italic style because we do not have an italic varient of Proxima Nova.
*/

@font-face {
	font-family: 'ProximaNova-Regular';

	font-weight: normal;
	font-style: normal;

	src: url('@{assetsPath}webfonts/267E9E_13_0.eot');src: url('@{assetsPath}webfonts/267E9E_13_0.eot?#iefix') format('embedded-opentype'),url('@{assetsPath}webfonts/267E9E_13_0.woff') format('woff'),url('@{assetsPath}webfonts/267E9E_13_0.ttf') format('truetype');
}

@font-face {
	font-family: 'ProximaNova-Regular';

	font-weight: bold;
	font-style: normal;

	src: url('@{assetsPath}webfonts/267E9E_12_0.eot');src: url('@{assetsPath}webfonts/267E9E_12_0.eot?#iefix') format('embedded-opentype'),url('@{assetsPath}webfonts/267E9E_12_0.woff') format('woff'),url('@{assetsPath}webfonts/267E9E_12_0.ttf') format('truetype');

}
 

