</div>
	</div>

	<div class="row-fluid site_footer">
		<div class="site-footer transparent_box_light">
			<div class="row-fluid">
			<div class="span12 contact_information">
				<h3 class="access_hidden">Contact Information</h3>
				<ul class="inline">
					<li>
						Maureen and Mike Mansfield Library
					</li>
					<li>
						32 Campus Drive
					</li>
					<li>
						Missoula, MT 59812
					</li>
					<li>
						Phone: <a href="tel://+14062436866">(406) 243-6866</a>
					</li>
					<li>
						<a href="mailto:italk@umontana.edu">library.reference@umontana.edu</a>
					</li>
				</ul>
			</div>
			</div>
		</div>
	</div>
</div>

	<!-- End Content -->


</div>
<div class="um_standard_footer" id="footercontent">
	<ul>
		<li><a href="http://www.umt.edu/about">About UM</a></li>
		<li><a href="http://www.umt.edu/accessibility/">Accessibility</a></li>
		<li><a href="http://www.umt.edu/administration">Administration</a></li>
		<li><a href="http://www.umt.edu/comments">Contact UM</a></li>
		<li><a href="http://www.umt.edu/directory">Directory</a></li>
		<li><a href="http://www.umt.edu/jobs">Employment</a></li>
		<li class="last"><a href="http://www.umt.edu/publicsafety">Safety</a></li>
	</ul>
</div>
<!-- Piwik --> 
<script type="text/javascript">
var pkBaseURL = (("https:" == document.location.protocol) ? "https://www.lib.umt.edu/local/piwik/" : "http://www.lib.umt.edu/local/piwik/");
document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
</script><script type="text/javascript">
try {
var piwikTrackerAllSites = Piwik.getTracker(pkBaseURL + "piwik.php", 10);
var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 1);
piwikTrackerAllSites.trackPageView();
piwikTrackerAllSites.enableLinkTracking();
piwikTracker.trackPageView();
piwikTracker.enableLinkTracking();
} catch( err ) {}
</script><noscript><p><img src="http://www.lib.umt.edu/local/piwik/piwik.php?idsite=10" style="border:0" alt="" /><img src="http://www.lib.umt.edu/local/piwik/piwik.php?idsite=1" style="border:0" alt="" /></p></noscript>
<!-- End Piwik Tracking Code -->
<!-- Begin Google Analytics -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-3271925-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<!-- End Google Analytics -->
</body>
</html>