				</li>
			</ul>
		</div>

		<div class="dept_leftnav span3">
			<div class="site_standard_nav" style="margin-left: 2em">
				<ul class="site_standard_nav">
					<li><a class="activepage" href="http://www.lib.umt.edu/about">About the Library</a>
						<ul>
							<li><a href="http://www.lib.umt.edu/about/about/departments">Library Departments</a></li>
							<li><a href="http://www.lib.umt.edu/about/hours">Library Hours</a></li>
							<li><a href="http://www.lib.umt.edu/about/policies">Policies and Privileges</a></li>
							<li><a href="http://www.lib.umt.edu/about/assessment">Assessment &amp; Planning</a></li>
							<li><a href="http://www.lib.umt.edu/about/affiliates">Affiliated Libraries</a></li>
							<li><a href="http://www.lib.umt.edu/about/history-of-the-mansfield-library">History</a></li>
							<li><a href="http://www.lib.umt.edu/about/employment">Employment</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>

		<div class="content-area remainder-box" id="maincontent" style="height: auto;">