@import "../variables.less";
@import "../mixins.less";
@import "../um-variables.less";
@import "../um-type.less";
@import "../um-mixins.less";

.feedback{
	@import "../forms.less";
	.recaptchatable label {
            font-size: 1em;
            line-height: 13px;
        }   
	.physical{
		h2{
			font-size: (@baseFontSize / .75);
			margin-bottom: 7px;
			padding-bottom: 0;
		}
		h3{
			font-size: (@baseFontSize / .95);
			margin:  0 0 7px 0;
			padding-top: 0;
		}
		p{
			margin-bottom: 24px;
		}
        padding-top: 18px;
		
	}
	 
	.contact_search input[type="submit"] {
            margin-bottom: 12px;
            padding: 2px 3px;
        }
        .reviewed_send {
            margin-top: 20px;
            padding: 3px 30px;
        }
}
.feedback .contact_search input { margin-left: 7px; }
.feedback .physical h2 { color: #603}
.feedback {padding: 0 25px 0px; overflow: hidden}
.feedback fieldset textarea { background: none; }
.feedback fieldset { border: 0px;}
.feedback fieldset legend { display: none;}
.feedback fieldset textarea { width: 439px; height:162px; border: 1px solid #bbb;}
.feedback fieldset label {display: block; padding-top: 10px; color: #777;}
.feedback fieldset label.required { color: #222;}
.feedback .validation_errors { color: #FFF; border: 1px solid #999; background-color: #A00; overflow: hidden; padding: 3px 0; text-align: center; font-weight: bold;}
.feedback .validation_errors p { padding: 1px; display: inline; }
.feedback .date {float: right;}
.feedback .meta, .feedback .meta a:link, .feedback .meta a:visited, .feedback .meta a:active {color: #999;}
.feedback h3 {padding-top: 30px;}
.feedback #recaptcha_widget_div {padding-top: 15px;}
