@import "../variables";
@import "../mixins";
@import "../um-variables";
@import "../um-type";

//@import "../um-mixins";
#maincontent {
@import "../tables";
@import "../buttons";
@import "../button-groups";
  a{
    border-bottom: 0px;
  }
  .form .row-fluid {
    margin-bottom: 20px;
  }
  table.table {
    padding: 0px;
    margin: 0 2%;
    width: 96%;
  }

}