@import "../variables";
@import "../mixins";
@import "../um-variables";
@import "../um-type";


//@import "../um-mixins";
#maincontent {
  @import "../tables";
  @import "../button-groups";
  @import "../forms";
  @import "../navbar";
  @import "../sprites";
  @import "../alerts";
  @import "../buttons";

  .nav{
    background-color: white;
  }

  .my-mainpage form{
    margin:0;
    padding:0;
    display:inline-block;
  }

  .no_margin{
    margin:0;
  }

  .top-level-bar{
    margin-top:30px;
  }


  .top-level-bar a{
    border:none;
  }

  .top-level-bar img{
    display:block;
    width:32px;
    height:32px;
  }

  .top-level-bar li{
    display: inline-block;
    width: 90px;
    vertical-align: top;
    zoom: 1;
    *display: inline; //IE7 fix
    width: 90px;
    overflow:hidden;
    font-size: 12px;
    text-align: center;
    padding:3px;
  }


  .top-level-bar li:hover{
    border:1px solid
  }

  .top-level-bar li:hover,
  .top-level-bar li:focus,
  .top-level-bar li:active{
    text-decoration: none;
    background-color: #e5e5e5;
    background-color: rgba(0, 0, 0, 0.11);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, .5);
    border: 0;
  }

  .umbox{
    min-height: 0;
  }


  .upcoming_events_container h2, .cmmt_sug_container h2, .my-announcements-container h2{
    padding-left:5px;
  }

  .upcoming_events_container{
    margin-bottom:30px;
  }


  .events_container{
    margin-left: 5px;
  }

  .more_events_container{
    margin-left: 5px;
  }

  .events_item{
    margin-bottom:14px;
  }

  .events_item small{
    display:block;
    margin-bottom:0;
  }


  .section{
    margin-bottom:30px;
  }

  .section h2{
    margin-bottom:0;
    -webkit-font-smoothing: antialiased;
  }

  .section h3{
    margin-top:5px;
    margin-bottom: 5px;
  }

  .category{
    margin-top:15px;
  }


  .category ul{
    margin-bottom: 0;
  }



  .section_link div{
    margin-left:30px;
  }

  .section-links{
    margin-top:15px;
    margin-bottom:22.5px;
  }

  .events_time_column{
    min-width: 60px;
  }

  .events_item:nth-child(even) {
    background: rgba(0,0,0,0.06);
  }

  .events_item {
    margin:0;
    padding: 5px 5px;
  }

  .more_events_container {
      margin: 10px;
      text-align: center;
  }




  .section_management{
    margin-top:5px;
    margin-right:5px;
  }

  .announcement_item{
    padding:5px;
  }

  .myannouncement img{
    margin: 0 0 30px 0;
    border-radius: 3px;
    border: 1px solid #fff;
    box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.1);
    margin-bottom: 30px;
    -webkit-transition-duration: 0.25s;
    -moz-transition-duration: 0.25s;
    -o-transition-duration: 0.25s;
    transition-duration: 0.25s;
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
    -webkit-transform: translateZ(0);
  }

  .myannouncement:hover img,
  .myannouncement:active img,
  .myannouncement:focus img{
    opacity: 0.75;
  }

  a{
    border-bottom:none;
  }

  a:hover{
      text-decoration: underline;
  }

  .section a:visited{
    /*color:#af4f58;*/ /*Me likey the most*/
      /*color:#b0632c;*/
  }

}

.my-dialog form input, .my-dialog form select{
  display:block;
  margin-bottom:5px;
}
