@import "../variables.less";
@import "../mixins.less";
@import "../um-variables.less";
@import "../um-type.less";
@import "../um-mixins.less";
@import "um-generic.less";

html {
  .CSS3 {
    .Skin {
      .SkinInner {
        .container();
        width: 1170px;
        #SkinContent {
          padding-top: 20px;
          #Logo, #Header {
            padding-left: 0px;
            padding-right: 0px;
            margin-right: 0px;
            margin-left: 0px;
          }
          #Header {
            .makeColumn(9);
          }
          #Questions {
            overflow: hidden;
            clear: both;
          }
          #Logo {
            .makeColumn(3);
            height: 35px;
            background: url('https://www.umt.edu/_common/assets/imx/um_logo.png') no-repeat center center;
          }

          .QuestionOuter {
            .Inner {
              padding-top: 0px;
            }
          }
        }
      }
    }
  }
}