@import "../variables.less";
@import "../mixins.less";
@import "../um-variables.less";
@import "../um-type.less";
@import "../um-mixins.less";

@import "../buttons.less";
@h3Size: (@baseFontSize * 1.33 );

h3 {
  font-size: (@h3Size * 1);
  line-height: (@h3Size * 1);
  margin-top: (@h3Size * 2);
  margin-bottom: (@h3Size * 1);
}
