.directory_listing {
  .directory_profile {
    padding-bottom: 20px;
    p,h3 {
      margin: 5px 0;
      padding: 0px 0px;
      padding-right: 10px;
    }
    h3 {
      font-size: 17px;
    }
    .faculty_photo {
      text-align: center;
      img {
        margin: 0px auto;
        padding-bottom: 10px;
        width: 80%;
      }
    }
  }
}