.site_container .navbar .site-brand-wrap{
	
}

.site_container .navbar .site-brand .brand{
    font-size: 27px;
    line-height: 16px;
    padding-bottom: 16px;
    font-weight: bold; 
}
.site_container .navbar .site-brand .brand span{
    font-weight: normal;
    font-family: "ProximaNova-Light","ProximaNovaT-Thin","Helvetica","Arial","Sans-Serif";
}

@media(min-width: 0px) and  (max-width: 979px) {
    .site_container .navbar .site-brand .brand{
        font-size: 16px;  
    }
}

@media(min-width: 0px) and  (max-width: 767px) {
    .site_container .navbar .site-brand .brand span{
        display: none;
    }
}

@media (min-width: 980px) and (max-width: 1199px){
    .site_container .navbar .site-brand .brand{
        font-size: 22px;
    }
}