.span12.contact_information {
  padding: 10px 0;
  h3, ul.inline {
    padding: 0px;
    margin: 0px;
  }
  h3{
    font-size: @baseFontSize;
    .makeColumn(2);
    text-align: right;
    margin-right: 5px;
    margin-top: 1px;
  }
  ul.inline {
    .remainder-box;
    li {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  .site_logo {
    .makeColumn(2);
  }
}
.contact_information {
  h3, ul {
    padding-left: 0;
    padding-right: 0;
  }
}