.light_shadow{
	.box-shadow(@shadow: 2px 2px 6px 0px rgba(0,0,0,.20));
}
.light_shadow_far{
	.box-shadow(@shadow: 2px 2px 60px 0px rgba(0,0,0,.15));
}
.dark_shadow{
	.box-shadow(@shadow: 2px 2px 6px 0px rgba(0,0,0,.35));
}
.dark_shadow_far{
	.box-shadow(@shadow: 2px 2px 60px 0px rgba(0,0,0,.27));
}
.transparent_box_light{
	background: rgb(255,255,255);
	background: rgba(255,255,255, 0.8);
}
.transparent_box_dark{
	background: rgb(0,0,0);
	background: rgba(0,0,0, 0.8);
}
.translucent_box_light{
	background: rgb(255,255,255);
	background: rgba(255,255,255, 0.97);
}
.translucent_box_dark{
	background: rgb(0,0,0);
	background: rgba(0,0,0, 0.97);
}
.dark_box{
	background-color: #666;
	#gradient > .vertical(#666, #565656);
}
.slight_round_box{
	border-radius: 3px;
}
.site_container table{
	.table;
	width: 96%; //.table calls a width, fixing it
	.table-striped;
	.table-bordered;
	margin-top: 10px;
	margin-bottom: 10px;
}
.no-border{
	border-bottom: none;
}